/*------------------------------------*\
  > Breadcrumb
\*------------------------------------*/

.breadcrumb {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
}

.breadcrumb__item {
    font-weight: $font-weight-bold;
    font-size: $size-12;
    color: $color-body;
    background: $grey-94;
    position: relative;
    min-height: $size-30;
    margin-right: $size-22;
    margin-bottom: $size-10;

    &::before,
    &::after{
        content: "";
        position: absolute;
        top: 0;
        border: 0 solid $grey-94;
        border-width: $size-17 $size-10;
        width: 0;
        height: 0;
    }

    &::before{
        left: -$size-20;
        border-left-color: transparent;
    }

    &::after{
        left: 100%;
        border-color:transparent;
        border-left-color: $grey-94;
    }

    &:first-child::before,
    &:last-child::after, {
        display: none;
    }
}

.breadcrumb__item--current {
    background: transparent;
    font-weight: $font-weight-regular;

    &::before,
    &::after, {
        display: none;
    }
}

.breadcrumb__link {
    padding-right: $size-5;
    display: block;
    color: inherit;
    text-decoration: none;
    line-height: $size-34;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

.breadcrumb__link--curent {
    cursor: default;
    pointer-events: none;

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

.breadcrumb__item:first-child .breadcrumb__link {
    padding-left: $size-10;
}