/*------------------------------------*\
  > Notification Box
\*------------------------------------*/

.notification-box {
    position: fixed;
    bottom: $size-30;
    left: $size-20;
    right: $size-20;
    padding: $size-22 $size-40 $size-22;
    background: $grey-97;
    border-radius: $size-10;
    box-shadow: 0px 0px $size-4 rgba(0, 0, 0, 0.25);

    @include media-query("medium") {
        position: relative;
        display: inline-block;
        width: auto;
        left: auto;
        right: auto;
        bottom: auto;
        padding: $size-17 $size-18 $size-18;
    }
}

.notification-box__content {
    text-align: center;
    margin: 0;
}

// Status
// ---------------------
.notification-box--success {
    color: $functional-success;
}

.notification-box--error {
    color: $functional-error;
}