/*------------------------------------*\
  > Sizes
  Size declaration reusable everywhere (for font-size, margin, etc)
\*------------------------------------*/

// Table convertation 'px' to 'rem'
// size-xx (xx stand for the desired size in pixel)
// ---------------------

$size-90: 5.625rem;
$size-30: 1.875rem;
$size-28: 1.75rem;
$size-25: 1.5625rem;
$size-22: 1.375rem;
$size-20: 1.25rem;
$size-16: 1rem;
$size-10: 0.625rem;
$size-5: 0.3125rem;