/*------------------------------------*\
  > Sizes
  Size declaration reusable everywhere (for font-size, margin, etc)
\*------------------------------------*/

// Table convertation 'px' to 'rem'
// size-xx (xx stand for the desired size in pixel)
// ---------------------

$size-90: 5.625rem;
$size-40: 2.5rem;
$size-35: 2.1875rem;
$size-34: 2.125rem;
$size-30: 1.875rem;
$size-28: 1.75rem;
$size-25: 1.5625rem;
$size-22: 1.375rem;
$size-20: 1.25rem;
$size-18: 1.125rem;
$size-17: 1.0625rem;
$size-16: 1rem;
$size-12: 0.75rem;
$size-11: 0.6875rem;
$size-10: 0.625rem;
$size-9: 0.5625rem;
$size-5: 0.3125rem;
$size-4: 0.25rem;
$size-4: 0.25rem;