/*------------------------------------*\
  > Input text
  Text like input
\*------------------------------------*/

// Field Text Transparent
// ---------------------
.field--text--transparent {
    border: 0;
    background: transparent;

    // Remove arrow spinner
    // Firefox
    appearance: textfield;
    // Webkit (chrome, safari, edge)
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
}
