//====== Typography ======
// Import fontface and define various typography generic rules

// Global Typography
// ---------------------
html {

    /* Better font rendering (Mainly for Mac Os X) */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

html,
body {
    font-family: $font-body;
    color: $color-body;
}

// Titles
// ---------------------

%title {
    font-family: $font-title;
    font-weight: $font-weight-bold;
}

h1,
.title--1,
%title--1 {
    @extend %title;
    font-size: $size-25;
    line-height: 1.4; // 35
}