/*------------------------------------*\
  > Layout.scss
  Define all general rules for layout component (container, etc)
\*------------------------------------*/

html {
    height: 100%;

    /* Better font rendering (Mainly for Mac Os X) */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

body {
    height: 100%;
}

// Page
// Container or root element containing the react application
// ---------------------
.page {
    height: 100%;
}

// App
// Main app container
// ---------------------

.app {
    @include media-query("medium") {
        display: flex;
        height: 100%;
    }
}